/*Ссылка на шрифты кроме основного 'https://fonts.googleapis.com/css?family=Farsan|Hind+Siliguri|Racing+Sans+One|Six+Caps|Space+Mono:700'*/

@import url(https://fonts.googleapis.com/css?family=Farsan);
@import url(https://fonts.googleapis.com/css?family=Hind+Siliguri);
@import url(https://fonts.googleapis.com/css?family=Racing+Sans+One);
@import url(https://fonts.googleapis.com/css?family=Six+Caps);
@import url(https://fonts.googleapis.com/css?family=Space+Mono:700);

@font-face{
    font-family: Old English;
    src: url(OldeEnglish.ttf);
    font-style: normal;
}


body
{
    width: 1200px;
    margin: 0 auto;
}


.clear-fix:after
{
    display: block;
    clear: both;

    content: '';
}

/*––––––––––––––––––Шапка газеты––––––––––––––––––––*/
.header
{
    margin: 35px 0 25px;
}

.header__info
{
    float: left;

    box-sizing: border-box;
    width: 200px;
    padding: 25px 10px;

    border: 1px solid;
    text-align: center;
}

.header__weather
{
    float: right;

    width: 200px;
}

.header__weather-title
{
    margin: 0;
    text-align: center;
    font-family: Space Mono, Courier New, monospace;
    font-size: 117%;
}

.header__weather-text
{
    margin: 0;
    text-align: justify;
    font-size: 80%;
    line-height: 1.1;
}

.header__title
{
    overflow: visible;
    margin: 0;
    font-family: Old English, Times New Roman, serif;
    text-align: center;
    font-size: 6em;
    font-weight: bold;
}


/*––––––––––––––––––Подшапка газеты–––––––––––––––––*/
.sub-header
{
    padding: 5px 0;

    border-top: 1px solid;
    border-bottom: 2px solid;
}

.sub-header__copyright
{
    display: inline-block;

    margin: 0 30px;
    font-size: 60%;
}

.sub-header__price
{
    float: right;
}


/*––––––––––––––––––Основной контент––––––––––––––––*/
.content
{
    display: flex;
}

/*––––––––––––––––––Блок статьи–––––––––––––––––––––*/
.article__title
{
    margin-top: 0;
    margin-bottom: 10px;
    font-family: Six Caps, Arial, sans-serif;
    font-size: 320%;
    font-weight: bold;
}

.article__help
{
    margin-top: 10px !important;
    margin-bottom: 4px !important;
}


.article__add-text
{
    margin-top: 10px;
    margin-bottom: 4px;
    text-indent: 2ch;
    text-align: justify;
    font-style: italic;
    font-size: 80%;
}

.article__author
{
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 80%;
    text-align: center;
    column-span: all;
}

.article__continue
{
    display: block;
    font-style: italic;
    text-align: center;
    font-size: 80%;
}

.article__content{
    font-size: 80%;
    text-align: justify;
    text-indent: 2ch;
}

.article__content_column{
    column-count: 2;
    column-gap: 15px;
}

.article__image
{
    margin: 0;
    text-indent: 0;
}

.article__image.article__image_align_right
{
    float: right;

    margin: 10px 0 5px 10px;
}

.article__subtitle
{
    margin: 10px 0;
    font-family: Times New Rowan, serif;
    font-weight: bold;
    font-size: 117%;
    text-align: center;
}

.article__title_font_racing{
    font-family: Racing Sans One, Times New Roman, serif;
    font-size: 200%;
    font-weight: bold;
}

.article__title_font_farsan{
    font-family: Farsan, Arial, sans-serif;
    font-size: 230%;
    font-weight: bold;
}

.article__content_columns{
    column-count: 2;
}

.article__image-caption{
    font-size: 0.8rem;
    text-decoration: underline;
}

.article__continue_columns{
    column-span: all;
}

/*––––––––––––––––––Блок главной фотографии–––––––––*/
.main-photo__wrapper
{
    margin: 0;
}

.main-photo__img
{
    width: 100%;
}

.main-photo__title
{
    margin: 0;
    font-weight: bold;
    font-size: 120%;
}

.main-photo__desc
{
    margin-bottom: 20px;
    font-size: 80%;
}

.main-photo__caption{
    text-transform: uppercase;
    text-align: right;
    font-size: 70%;
}

/*––––––––––––––––––Линия разделения––––––––––––––––*/
.line
{
    border-top: 1px solid #000;
}

.line.line_type_bold
{
    margin-bottom: 3px;

    border-width: 2px;
}

.line.line_type_short
{
    width: 70px;
    margin: 0 auto;
}

/*––––––––––––––––––Центральные колонки газеты––––––––––––––––––*/
.multicolumn
{
    margin-top: 10px;
}

.multicolumn__right,
.multicolumn__left
{
    display: inline-block;

    box-sizing: border-box;
    width: 49%;

    vertical-align: top;

}

.multicolumn__right
{
    padding-left: 10px;
}

.multicolumn__left
{
    padding-right: 10px;

    border-right: 1px solid #000;
}

.multicolumn .line_type_short
{
    width: 50%;
    margin: 10px auto;
}

.multicolumn .article__title
{
    margin: 10px 0 0 0;
}

.center-column
{
    margin-top: 20px;
    padding: 0 10px;

    flex-grow: 2;
}

/*––––––––––––––––––Второстепенные колонки газеты––––––––––––––––––*/
.left-column
{
    border-right: 1px solid #000;
}

.right-column
{
    border-left: 1px solid #000;
}

.right-column,
.left-column
{
    box-sizing: border-box;
    width: 200px;
    margin-top: 20px;
    padding: 0 10px;

    flex-shrink: 0;
}


/*––––––––––––––––––––––––––––––––––––––––––––––––––*/
